.header {
	background: @color-latinvestco;
	color: @color-header-title;
  bottom: 0;
  top: 0;
  width: 200px;
  position: fixed;
}

.name {
	text-align: center;
	margin-bottom: 100px;
}

.content {
  padding: 7rem 7rem 7rem 26rem;
}



