// Core variables
@import "shared/variables.less";

// Documentacion
@import "latinvestco/documentacion.less";

// Core CSS

@import "latinvestco/header.less";
@import "latinvestco/clases.less";

// Fonts
@import "latinvestco/fonts.less";

// Menu

@import "latinvestco/main.less";

@import "doc-pipoca/introduccion.less";


html {
	height: 100%;
}
body {
	font-family: @font-family-pipoka;
	height: 100%;
}
/*

	DATA-TABLES - PIPOKA

*/

tr > td {
	text-align: right;
}
li.ColVis_Special {
	border: 0  !important;
	margin: 0 !important;
	background: white !important;
}
th, td { white-space: nowrap; }
tr td:first-child {
	text-align: left;
}
table.dataTable.cell-border tbody th,
table.dataTable.cell-border tbody td,
table.dataTable.cell-border thead th {
  border-top: 1px solid #dddddd !important;
  border-right: 1px solid #dddddd !important;
}
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child,
table.dataTable.cell-border thead tr th:first-child {
  border-left: 1px solid #dddddd !important;
}
 /*div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
 }*/
 table.dataTable.no-footer,
 table.dataTable thead th {  
  border-bottom: 0 !important;
}
/*.dataTables_filter {
  display: none;
}*/
table thead th[colspan*="2"] { 
	text-align: center;
}
.nav-pills > li > a {
  border-radius: 0!important; 
}

.title-tables {
	color: @color-title-tables;
	font-size: @font-size-title-tables;
	font-weight: @font-weight-title-tables;
	font-family: @font-family-titles-tables;
}
.table-pipoka {
	color: @color-font-tables;
	font-size: @font-size-data-tables;
	font-family: @font-family-data-tables;
}
.subtitle-table-pipoka {
	font-weight: normal !important;
}

.content-tables {
	
	margin: 0 auto;
}
table.dataTable {
  width: auto;
  margin: 0;
  //table-layout: fixed;
  // word-wrap:break-word;
}
table.dataTable.cell-border > tbody > tr:nth-child(1) td {
	border-top: 0 !important;
}

div.ColVis {
  float: initial !important;
}