@import "bootstrap.less";

// .test{
// 	background: red;
// }

@color-latinvestco: #0f5003;
@color-header-title: #ffffff;

.header {
	background: @color-latinvestco;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	color: @color-header-title;
	padding-left: 10px;
}

body {
	margin-top: 80px;
	margin-left: 10px;
}

.pad0-panel {
	padding-right: 0;
	padding-left: 0;
}