@import "../libs/bootstrap/variables.less";

/* 

	PIPOKA

*/




/*
	GENERAL 
 */
@color-pipoka: #6ea939;
@color-header-title: #ffffff;
@font-family-pipoka: 'Roboto', sans-serif;




/* 	
	COMPONENTES 	
*/


/* MENU PIPOKA */
@width-main: 183px;
@color-main: #6ea939;
@color-main-hover: #669d35;
@color-submain: #565656;
@color-submain-hover: #414141;
@font-family-titles-main: 'Raleway', sans-serif;

/* HEADER PIPOKA */
@font-family-header: 'Roboto', sans-serif;
@font-family-title-pipoka: 'Fjalla One', sans-serif;
@height-header: 60px; 
@color-header: #dedede;

/* DATA-TABLES- PIPOKA  */
@color-title-tables: #669d35;
@color-font-tables: #4a4a4a;
@font-family-titles-tables: 'Roboto', sans-serif;
@font-family-data-tables: 'Roboto', sans-serif;
@font-size-title-tables: 13px;
@font-size-data-tables: 12px;
@font-weight-title-tables: 400;


/*	
	VISTAS  		
*/


@font-family-titles-pag: 'Raleway', sans-serif;

/* HOME */
@font-family-title-home: 'Fjalla One', sans-serif;
@font-size-title-home: 100px;
@color-font-title-home: #707070;




/* 	
	ICONFONTS Y TIPOGRAFIA 		
*/



/* TITULOS PIPOKA */
@font-family-titles: 'Raleway', sans-serif;
@font-size-titles: 18px;
@color-font-titles: #639637;
@font-weight-titles: 500;

/* HGROUP PIPOKA */
@font-family-h1: 'Raleway', sans-serif;
@font-size-h1: 24px;

@font-family-h2: 'Raleway', sans-serif;
@font-size-h2: 20px;

@font-family-h3: 'Raleway', sans-serif;
@font-size-h3: 16px;

@font-family-h4: 'Raleway', sans-serif;
@font-size-h4: 12px;

@font-family-h5: 'Raleway', sans-serif;
@font-size-h5: 11px;

@font-family-h6: 'Raleway', sans-serif;
@font-size-h6: 10px;







