@import "../bootstrap/variables.less";

/*
GENERAL
*/
@color-latinvestco: #0f5003;
@color-header-title: #ffffff;


/*
PANELES
*/
@color-panel: #0f5003;
@color-panel-title: #ffffff;
/*
TABLAS
*/
@border-head: #0f5003;
@row-hover: whitesmoke;


/*
Badges
*/

@btn-latinvestco-bg: #0f5003;