.navbar-pipoca {
	margin-bottom: 0;
	position: fixed;
	top: 0;
	min-width: 100%;
	z-index: 999;
	border: 0;
	min-height: @height-header;
}
.title-pipoka {
	font-size: 2.5rem;
	font-weight: 600;
	color: white !important;
	height: @height-header;
	background: @color-submain;
	padding: 0;
	width: @width-main;
	line-height: @height-header;
	border-bottom: 1px solid #444
}
.title-pipoka:hover {
	background-color: @color-submain !important;
}

.navbar-header-pipoka {
	height: @height-header;
	min-width: 100%;
}
.by-latin {
	font-size: .95rem;
}
.form-navbar {
	height: 55px;
  margin-left: 6rem;
  line-height: 55px;
  width: 40%;
  display: inline-block;
}
.search-input {
	width: 80%;
	display: inline-block;
}
.btn-main {
	position: absolute;
	font-size: 2rem;
	left: 22rem;
	line-height: 50px;
}
.search-input::-webkit-input-placeholder
{
  color: @color-main;
}

.search-input:-moz-placeholder
{
  color:    @color-main;
}

.search-input::-moz-placeholder
{
  color:    @color-main;
}

.search-input:-ms-input-placeholder
{
  color:    @color-main;
}