// MENU GENERAL
.main {
	width: 55px;
	position: fixed;
	top: 6.79em;
  z-index: 9999;
	color: white;
	background: @color-main;
}
// BOTON EXPANDIR/COLAPSAR MENU
.main-content-btn {
	position: relative;
	height: 50px;
	background: #565656;
}
.btn-main {
	position: absolute;
	font-size: 2rem;
	left: 1.68rem;
	line-height: 50px;
}
// COMPAÑIA ANALIZADA MENU
.associate-company {
	text-align: center;
	font-weight: bold;
	padding: 1.5rem 0 1rem;
	font-family: 'Raleway', sans-serif;
	font-size: 1.40rem;
	font-weight: bold;
}
.main-content-btn,
.associate-company,
.main-category {
	box-shadow: 0px -1px 1px #444;
}
#CA > p:nth-child(2) {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
}
// CATEGORIAS MENU
.main-category {
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	height: 50px;
  line-height: 50px;
  position: relative;
}
.main-category p {
	margin-bottom: 0;
}
.title-category {
	display: none;
  font-weight: 500;
}
.title-val,
.title-diag {
	margin-left: 1rem;
}
.title-proj {
	margin-left: 2.7rem;
}
.associate-company:hover,
.main-category:hover,
.abreviators {
	background: @color-main-hover;
	box-shadow: 0px -1px 0px #444;
}
// SUBMENUS DE CATEGORIAS MENU
.main ul {
	display: none;
}
.main ul li a {
	background: @color-submain;
	color: white;
	height: 34px;
	line-height: 34px;
	padding: 0;
	text-align: center;
}
.main-content-btn:hover,
.main ul li a:hover {
	background: @color-submain-hover;
}
.submain-diag li,
.submain-proj li,
.submain-val li {
	margin-top: 0 !important;
	box-shadow: 0px -1px 1px #444;
}
.submain-expand {
	padding: 0 15px !important;
	text-align: left !important;
}
.main .nav-pills > li > a {
  border-radius: 0!important; 
}
// ABREVIATURAS MENU
.abreviators {
	padding: 15px;
  font-size: 11px;
  line-height: 18px;
  display: none;
}
// ICON-FONTS MENU
.line-graph-icon,
.graph-icon,
.coin-dollar-icon {
	font-size: 2.5rem;
	line-height: 1.8rem;
	position: relative;
	left: 0;
	top: .5rem;
}
.val-ca-s,
.val-ca-sd-s,
.val-ca-cs-s,
.val-vms {
	font-size: 0.86em;
}

// PSEUDOELEMENTOS CSS 
#btn-collapsed-diag::before {
	content: " ";
	position: absolute;
	display: none;
	width: 0px;
	height: 0px;
	top: 1em;
	right: 0px;
	border-top: #6ea939 10px solid;
	border-right: white 9px solid;
	border-bottom: #6ea939 10px solid;
	border-left: white 0px solid;
}
#btn-collapsed-diag:hover::before {
	content: " ";
	position: absolute;
	display: block;
	width: 0px;
	height: 0px;
	top: 1em;
	right: 0px;
	border-top: @color-main-hover 10px solid;
	border-right: white 9px solid;
	border-bottom: @color-main-hover 10px solid;
	border-left: white 0px solid;
}
#btn-collapsed-proj::before {
	content: " ";
	position: none;
	display: none;
	width: 0px;
	height: 0px;
	top: 1em;
	right: 0px;
	border-top: #6ea939 10px solid;
	border-right: white 9px solid;
	border-bottom: #6ea939 10px solid;
	border-left: white 0px solid;
}
#btn-collapsed-proj:hover::before {
	content: " ";
	position: absolute;
	display: block;
	width: 0px;
	height: 0px;
	top: 1em;
	right: 0px;
	border-top: @color-main-hover 10px solid;
	border-right: white 9px solid;
	border-bottom: @color-main-hover 10px solid;
	border-left: white 0px solid;
}
#btn-collapsed-val::before {
	content: " ";
	position: absolute;
	display: none;
	width: 0px;
	height: 0px;
	top: 1em;
	right: 0px;
	border-top: #6ea939 10px solid;
	border-right: white 9px solid;
	border-bottom: #6ea939 10px solid;
	border-left: white 0px solid;
}
#btn-collapsed-val:hover::before {
	content: " ";
	position: absolute;
	display: block;
	width: 0px;
	height: 0px;
	top: 1em;
	right: 0px;
	border-top: @color-main-hover 10px solid;
	border-right: white 9px solid;
	border-bottom: @color-main-hover 10px solid;
	border-left: white 0px solid;
}





#content {
	padding-top: @height-header;
	padding-left: 88px;
	padding-right: 15px;
	margin-bottom: 5rem;
}
@media screen and (min-width: 1400px) {
	#content {
		padding: 5.5rem 22rem;
	}
}