.main {
	background: @color-main;
	width: 55px;
	position: fixed;
	top: 10rem;
  z-index: 9999;
}
.main  {
	color: white;
}
.main ul {
	display: none;
}
.main ul li a {
	background: @color-submain;
	color: white;
}
.main ul li a:hover {
	background: @color-submain;
}
.main-content-btn {
	position: relative;
	height: 50px;
	background: #565656;
}
.btn-main {
	position: absolute;
	font-size: 2rem;
	left: 1.68rem;
	line-height: 50px;
}
#content {
	padding-top: @height-header;
	padding-left: 7rem;
	padding-right: 4rem;
	margin-bottom: 5rem;
}


.associate-company {
	text-align: center;
	font-weight: bold;
	padding: 1.5rem 0 1rem;
	border-bottom: 1px solid #444;
}
.submain-diag li,
.submain-proj li,
.submain-val li {
	margin-top: 0 !important;
	border-bottom: 1px solid #444;
}

.main-category {
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #444;
	padding: 2rem 0;
}
.main-category p {
	margin-bottom: 0;
}
.line-graph-icon,
.graph-icon,
.coin-dollar-icon {
	font-size: 3rem;
	line-height: 1.8rem;
	position: relative;
	left: 0;
	top: .5rem;
}
.line-graph-icon {
	margin-top: 1.2rem;
}
.title-diag {
	margin-left: 4.3rem;
	text-indent: -3.6rem;
}
.title-proj {
	margin-left: 2.3rem;
}
.title-category {
	display: none;
}
