.main {
	background: #6161CF;
}
.main ul li a {
	color: white;
}
.btn-main {
	position: absolute;
	font-size: 2rem;
	left: 5rem;
	line-height: 50px;
}
.is-active {
	display: block;
}
.is-desactive {
	display: none;
}
