.select-companies {
	margin: 88px 33px 0 0;
  text-align: center;
}
.hr-div {
	color: #d4d4d4;
	width: 70%;
}
.companies-select {
	display: inline-block;
}
.form-addCompany input {
	font-size: 1.10rem;
	color: #545454;
	width: 260px;
  margin-right: 1rem;
  display: inline-block;
}
.form-addCompany a {
	text-decoration: none;
	color: #545454;
}
.form-addCompany a:hover {
	color: @color-latinvestco;
	cursor: pointer;
}
.form-addCompany + button {
  float: left;
  border-radius: 0;
  background: #6ea939;
  color: white;
}
.form-addCompany + button:hover,
.form-addCompany + button:focus,
.form-addCompany + button:active {
  background: #6ea939;
  outline: none;
  color: white;
}
.content-titles-select-company {
	width: 437px;
	text-align: left;
	margin: 0 auto;
}